exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
importFrom(RcppZiggurat, zsetseed, zrnormVec, zrnormR)
importFrom(stats, runif)
importFrom(RSpectra, svds, eigs_sym)
importFrom(Gmedian, kGmedian)
importFrom(igraph, graph_from_adjacency_matrix, plot.igraph)
import(Matrix)
useDynLib(RandClust, .registration = TRUE)
